header{
    border-radius: 30px;
    color : white;
    text-align: left;
    font-size : 20px;
    width : auto;
    height : 480px;
    border : 5px solid #000;
    background-image: url("캡처.PNG");
    background-size: 100% 100%;
}